# https://www.gitignore.io

# jekyll
_drafts
_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json


# Custom
/VAR/
/.settings/
/.buildpath
/.project

**/stats/


# Various
Thumbs.db
*.log
